<h1>Show details per round</h1>
<p>Round, Player name, win/lose, money +/-</p>
Buttons: Back (/index)
<table class ="table">
	<thead>
		<tr>
			<td>Round</td>
			<td>Player</td>
			<td>Results</td>
			<td>Money</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td ROWSPAN="2">Player 1<br>Player2</td>
			<td ROWSPAN="2">Win<br>Lose</td>
			<td ROWSPAN="2"><%= @player.p1_bet %><br><%= @player.p2_bet %></td>
		</tr>
	</tbody>
</table>
<%= link_to 'Back', players_path %>
		
	